<footer class="navbar bottom">
  <nav>
    <a href="works.html">works</a>
    <a href="#">studio</a>
    <a href="contact.html">contact</a>
  </nav>
  <img class="logo" src="images/Mogo_Design_Logo_Blanc.png" />
  <div class="socials">
    <a href="https://www.behance.net/morganeoliva" target="_blank"
      ><img src="images/Behance_Logo.png"
    /></a>
    <a href="https://www.linkedin.com/in/morgane-oliva/" target="_blank"
      ><img src="images/Linkedin_Logo.png"
    /></a>
  </div>
</footer>
