body {
  background: linear-gradient(
    180deg,
    rgba(30, 30, 30, 1) 40%,
    rgba(18, 20, 33, 1) 55%,
    rgba(0, 6, 55, 1) 70%,
    rgba(18, 20, 33, 1) 85%,
    rgba(30, 30, 30, 1) 100%
  );
}
.banner {
  height: 19.7vw;
  position: relative;
  display: flex;
  align-items: center;
}

.banner img {
  height: 100%;
  position: absolute;
  object-fit: contain;
  -o-object-fit: contain;
  z-index: -1;
}

.banner figure {
  padding: 0 30vw;
  font-family: "Gotham", sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1vw;
  text-shadow: 3px 3px 3px #071eeb;
}
.banner figure blockquote {
  margin-bottom: 1vw;
}
main .side-title {
  font-family: "Gotham Black", sans-serif;
  letter-spacing: 0.5vw;
  font-size: 5vw;
  margin-top: 2vw;
  margin-bottom: 3vw;
  margin-left: 15vw;
}

.intro {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin-bottom: 6vw;
}
.intro img {
  height: 18vw;
}
.intro .intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}
.intro .intro-text h3 {
  font-size: 2.5vw;
  font-family: "Gotham Black", sans-serif;
  margin-bottom: 1vw;
  color: rgb(7, 30, 235);
}
.intro .intro-text h4 {
  font-size: 1.5vw;
  font-family: "Gotham Black", sans-serif;
  margin-bottom: 1vw;
  font-style: italic;
  color: rgb(7, 30, 235);
}
.intro .intro-text p {
  font-family: "Gotham", sans-serif;
  font-size: 1vw;
}
.intro .intro-text br {
  margin-bottom: 1vw;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6vw;
}
.education h3 {
  font-size: 2.5vw;
  font-family: "Gotham Black", sans-serif;
  margin-bottom: 2vw;
}
.education .box-wrapper {
  display: flex;
  gap: 1.5vw;
}
.education .box-wrapper .box {
  background-color: rgb(7, 30, 235);
  border-radius: 5px;
  padding: 1vw;
  text-align: center;
  width: 20vw;
}
.education .box-wrapper .box h4 {
  font-size: 1.2vw;
  font-weight: 100;
  font-family: "Gotham Black", sans-serif;
  margin-bottom: 0.5vw;
}
.education .box-wrapper .box p {
  font-size: 1vw;
  font-family: "Gotham", sans-serif;
}

.skills {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vw;
}
.skills h3 {
  font-size: 2.5vw;
  font-family: "Gotham Black", sans-serif;
  margin-bottom: 2vw;
  align-self: center;
}
.skills .wrapper {
  display: flex;
}
.skills .wrapper .softwares {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.skills .wrapper .softwares .software {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2vw;
  gap: 1vw;
}
.skills .wrapper .softwares img {
  height: 4vw;
}
.skills .wrapper .softwares p {
  font-family: "Gotham", sans-serif;
  font-size: 1vw;
}
.skills .wrapper .comm-skills {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 50%;
}
.skills .wrapper .comm-skills .comm-skill {
  border-left: 2px solid rgb(7, 30, 235);
  padding-left: 2vw;
}
.skills .wrapper .comm-skills .comm-skill h4 {
  font-size: 1.2vw;
  font-weight: 100;
  font-family: "Gotham Black", sans-serif;
  margin-bottom: 0.5vw;
}
.skills .wrapper .comm-skills .comm-skill ul {
  margin-left: 1vw;
  font-family: "Gotham", sans-serif;
  font-size: 1vw;
}
