@font-face {
  font-family: "Gotham";
  font-style: normal;
  src: local("Gotham"), url("../fonts/Gotham-Font/GothamLight.otf");
}
@font-face {
  font-family: "Gotham Medium";
  font-style: normal;
  src: local("Gotham Medium"), url("../fonts/Gotham-Font/GothamMedium.otf");
}
@font-face {
  font-family: "Gotham Black";
  font-style: normal;
  src: local("Gotham Black"), url("../fonts/Gotham-Font/Gotham-Black.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background: rgb(30, 30, 30);
}
