main {
  background-image: url("../images/Mogo_Design_Banniere.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.8vw 0;
}

main .side-title {
  font-family: "Gotham Black", sans-serif;
  letter-spacing: 10px;
  font-size: 4.5vw;
  position: absolute;
  transform: translate(-22vw, -12vw);
  z-index: 1;
}

.typewriter h1 {
  font-size: 2vw;
  overflow: hidden;
  border-right: 5px solid white;
  letter-spacing: 5px;
  animation: typing 2s steps(30, end), blink-carret 0.75s step-end infinite;
  margin: 0 auto;
  white-space: nowrap;
  font-family: "Gotham Black", sans-serif;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink-carret {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.contact-card {
  padding: 4vw 3vw;
  border-radius: 1.5vw;
  background-color: rgb(7, 30, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.contact-card hr {
  width: 70%;
}

.contact-card .name {
  font-family: "Gotham Medium", sans-serif;
}
.contact-card p {
  font-size: 1.25vw;
  font-family: "Gotham", sans-serif;
}

.contact-card a {
  font-size: 1.25vw;
  font-family: "Gotham", sans-serif;
  text-decoration: none;
}

.contact-card a:hover {
  text-decoration: underline;
}

.contact-card p.name {
  font-size: 2vw;
  font-weight: bold;
}

footer {
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
}
