.navbar {
  display: flex;
  background-color: rgb(30, 30, 30);
  z-index: 2;
}
.navbar.top {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar nav {
  display: flex;
  font-family: "Gotham Medium", sans-serif;
  font-weight: 500;
  font-size: 1vw;
}
.navbar.top nav {
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.navbar.bottom nav {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.navbar nav a {
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s;
  letter-spacing: 2px;
}
.navbar nav a.active {
  text-decoration: underline 2px rgb(7, 30, 235);
  text-underline-offset: 1vw;
}
.navbar.top nav a {
  margin-right: 4vw;
}

.navbar nav a:hover {
  color: rgb(7, 30, 235);
}
.navbar.bottom .logo {
  height: 5vw;
}
a.fit-img {
  height: 5vw;
}
.navbar.top .logo {
  height: 100%;
  padding: 0.5vw;
}
.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

.socials svg {
  height: 2.2vw;
  transition: 0.2s;
}
svg path {
  transition: 0.25s;
}
.socials svg:hover path {
  fill: rgb(7, 30, 235);
}
footer {
  padding-top: 0.6vw;
  padding-bottom: 1vw;
}
